# Environment & Secrets
.env
*.env.*

# Dependencies
vendor/
Godeps/

# Build & Runtime
bin/
pkg/
tmp/
tmp_fresh/
/air/
coverage/
dist/

# IDE & Editors
.idea/
.vscode/
*.swp
*~
*.iml

# OS-specific Files
.DS_Store
Thumbs.db

# Go Artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Logs & Reports
*.log
*.coverprofile
*.prof
