services:
  backend:
    build:
      context: .
      dockerfile: dockerfile.dev
    container_name: omhs-backend-dev
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/go/pkg/mod
    depends_on:
      - mongo
    networks:
      - omhs-net

  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - omhs-net

volumes:
  mongo-data:

networks:
  omhs-net:
    driver: bridge
